<div class="header-container">
  <mat-icon class="icon" (click)="ReturnToMainPage()">keyboard_arrow_left</mat-icon>
  <h3 class="title"> New Event </h3>
</div>

<form class="task-form-container" [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm)" enctype="multipart/form-data">

  <mat-form-field
  appearance="outline">
    <mat-label>Date</mat-label>
    <input
    class="input"
    matInput
    type="text"
    formControlName="date"
    >
  </mat-form-field>

  <ng-container  *ngIf="(!taskForm.get('date')!.untouched)">
    <div class="input-calendar-container">
      <app-calendar [calendartasksList]="list" [currentRoute]="'month'"></app-calendar>
    </div>
  </ng-container>

  <mat-form-field
  appearance="outline">
    <mat-label> Task Title</mat-label>
    <input
    class="input"
    matInput
    type="text"
    placeholder="Title"
    formControlName="title">
  </mat-form-field>

  <mat-form-field
  appearance="outline">
    <mat-label>Task Content</mat-label>
    <textarea
    class="input"
    matInput
    type="text"
    placeholder="Task"
    formControlName="desc"></textarea>
  </mat-form-field>


    <label class="img-label" for="file">Image</label>
    <input
    class="input file-input"
    id="file"
    type="file"
    placeholder="image"
    formControlName="image"
    (change)="ProcessFile($event)"
    accept="image/*"
    #fileInput>
    <button
    class="img-btn"
    mat-raised-button
    type="button"
    (click)="fileInput.click()"> Select File</button>

    <div class="image-preview-container">
      <ng-container *ngIf="selectedFile && selectedFile.file.name !== 'emptyfile'">
        <img
        [src]="Transform()"
        alt="Image Preview"
        class="image-preview">
      </ng-container>
    </div>




    <mat-radio-group class="radio-buttons-container" formControlName="color">
      <mat-radio-button class="input"  value="red">work</mat-radio-button>
      <mat-radio-button class="input" value="yellow">family</mat-radio-button>
      <mat-radio-button class="input" value="green">vacation</mat-radio-button>
      <mat-radio-button class="input" value="none" checked>general</mat-radio-button>
    </mat-radio-group>


  <button
    class="btn"
    type="submit"
    mat-raised-button> Create</button>
</form>
