.task-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em 3em 1em;
  box-sizing: border-box;
  height: 87vh;
  overflow-y: scroll;
}

.btn {
  margin: 0 5em;
}

::ng-deep .mat-form-field-flex {
  font-size: smaller;
}

.row {
  display: flex;
  flex-direction: row;
}

.input {
  color: white;
  display: flex;
  flex-direction: column;
}

.input-calendar-container {
  width: 100vw;
  /* transform: scale(.7); */
  position: relative;
  right: 3em;
}

.header-container {
  display: flex;
  flex-direction: row;
  padding-top: .5em;
  box-sizing: border-box;
  background: rgb(42, 45, 67);
}

.title {
  margin: 0;
  line-height: 2em;
  opacity: .6;
  color: white;
  padding-top: .1em;
  box-sizing: border-box;
}

.icon {
  font-size: 35px;
  width: 1em;
  height: 1em;
  margin-right: 27vw;
  color: white;
}

.radio-buttons-container {
  margin: 1em 0;
  display: flex;
  justify-content: space-evenly;
}

::ng-deep .mat-radio-label {
  display: flex;
  flex-direction: column-reverse;
}

img {
  width: 73vw;
  height: 25vh;
}

.file-input {
  display: none;
}

.img-label {
  color: aliceblue;
}

.image-preview-container, .image-preview, .img-btn {
  width: fit-content;
}
