.form-container {
  line-height: 0px;
}

.form-content {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

input {
  color: white;
}

/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 1.5em !important;
  font-size: 12px;
}

@media only screen and (min-width: 280px) {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    font-size: 15px;
  }
} */



