.auth-component-container {
  background: rgba(255, 255, 255, 0.15);
  margin: 0 1.5em;
  border-radius: 15px;
  box-shadow: 0px 2px 133px 24px rgba(0,0,0,.75);
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.header {
  font-family: 'Roboto';
  font-weight: 500;
  color: white;
  margin-top: 2em;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: -webkit-fill-available;
  margin-top: 1em;
}

.main-btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 12px 20px 0px rgba(0,0,0,.75);
  background: rgba(0, 0, 38, .45);
}

.spinner-container {
  margin-top: 15em;
  text-align: center;
}

@media only screen and (min-width: 260px) {
  .btn,.header-container {
   font-size: 1em;
  }
}

@media only screen and (min-width: 550px) {
  .btn,.header-container {
   font-size: 1.3em;
  }
}

@media only screen and (min-width: 850px) {

  .auth-component-container {
    margin-top: 1em;
  }

  .header-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .btn,.header-container {
    font-size: 1em;
   }
}
