.auth-component-container {
  background: rgba(255, 255, 255, 0.15);
  margin: 2em auto 0em;
  border-radius: 15px;
  box-shadow: 0px 2px 133px 24px rgba(0,0,0,.75);
  width: 300px;
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.header {
  font-family: 'Roboto';
  font-weight: 500;
  color: white;
  margin-top: 1em;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: -webkit-fill-available;
  margin-top: 1em;
}

.main-btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 12px 20px 0px rgba(0,0,0,.75);
  background: rgba(0, 0, 38, .45);
}

.spinner-container {
  margin-top: 15em;
  text-align: center;
}

:host ::ng-deep .mat-form-field-wrapper {
  width: -webkit-fill-available;

}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.25em 2em;
}

@media only screen and (min-width: 650px) {

  .header-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 1.5em !important;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  width: -webkit-fill-available;
  margin: 0 2.5em;
}
