.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0em;
  list-style-type: none;
  padding-inline-start: 0;
  background: rgb(55, 58, 80);
}

ul {
  list-style-type: none;
}

.perv , .next {
  font-size: 23px;
  cursor: pointer;
  margin: .8em .9em;
  color: white;
}

.date {
  position: relative;
  top: 3vh;
  font-size: 24px;
  color: white;
  height: 1em;
}

.month {
  position: relative;
  top: 3vh;
  font-size: 30px;
  color: white;
  opacity: 0.7;
}
