.active {
 box-shadow: 0px 0px 15px 10px rgb(255, 255, 255);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  box-sizing: border-box;
}

.footer-icon {
  color: darkgray;
  font-size: 1.6em;
  width: 1em;
  height: 1em;
}

.main-page-container {
  background: rgb(42,45,67);
  height: 84vh;
}

::ng-deep .mat-drawer {
  background: rgb(55, 58, 80);
}
