.main-project-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background-image: url('../assets/images/4710013.jpg');
  background-position: center;
  background-size: cover; */
  background: rgb(55, 58, 80);
}
