<div class="card-container">
  <div class="image-container">
    <img class="image" [src]="Transform()">
  </div>

  <div class="content-container">
    <div class="header-container">
      <h3 class="title">
        {{ task.title }}
      </h3>
    </div>
    <div class="content">
      {{ task.content }}
    </div>
    <div class="date">
      <mat-icon class="icon" >access_time</mat-icon>
      <div>
        {{ task.date }}
      </div>
    </div>


  </div>

  <div class="footer-container">
    <button mat-raised-button (click)="DeleteTask()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-raised-button (click)="OpenDialog()">
      <mat-icon>fullscreen</mat-icon>
    </button>
  </div>

</div>
