.card-container {
  display: flex;
  flex-direction: column;
  height: 44vh;
  width: 70vw;
  /* margin: 1em; */
  background: rgb(52,58,80);
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
}

.image-container {
  height: 40%;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 31vh;
  padding-top: 1em;
  padding-left: 1em;
  box-sizing: border-box;
}


.date {
  display: flex;
  justify-content: space-evenly;
  color: white;
  opacity: .7;
}

.content {
  margin: .4em;
  color: white;
  opacity: .7;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
}

.icon {
  color: darkgray;
}

.title{
  margin: .6em 0 0;
  color: white;
  opacity: .8;
  font-weight: 500;
}

.date-content {
  margin-left: 2em;
}

@media screen and (max-width: 650px) {
  .card-container {
    width: 55vw;
  }
}

@media only screen and (min-width: 650px) {

  .card-container {
    height: 45vh;
    width: 15vw;
  }

  .content {
    max-height: 2ch;
    max-width: 18ch;
  }

  img {
    height: 60vh;
  }

  :host ::ng-deep .mat-raised-button {
    min-width: 30px !important;
    line-height: 24px !important;
  }

  :host ::ng-deep .mat-icon {
    height: 16px !important;
    width: 16px !important;
  }

  :host ::ng-deep .material-icons {
    font-size: 16px !important;
  }

}
