.card-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 70vw;
  margin: 1em;
  background: rgb(52,58,80);
  border-radius: 15px;
  border: 1px solid black;
}

.image-container {
  height: 40%;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.content-container {
  padding-left: 1em;
  box-sizing: border-box;
}


.date {
  display: flex;
  justify-content: space-evenly;
}

.content {
  margin: .4em;
}

.footer-container {
  margin: 1em;
}

.icon {
  color: darkgray;
}

.title{
  margin: .6em 0 0;
}
