

<ng-container *ngIf="type === 'panel'">
  <div class="tasks-list-container">
    <app-task-item
    *ngFor="let task of taskList; index as i;"
    [task]="task"
    [index]="i"
    [type]="type"></app-task-item>
  </div>
</ng-container>
<ng-container *ngIf="type === 'card'">
  <div class="cards-list-container">
    <app-task-item
    [ngClass]="'card'"
    *ngFor="let task of taskList; index as i;"
    [task]="task"
    [index]="i"
    [type]="type"
    class="task"
    [row]="row"
    [elementRow]="row"
    [appPosition]="i"
    ></app-task-item>
  </div>
</ng-container>
