.container {
  width: 100%;
}

.calendar-content-conteiner {
  display: flex;
  justify-content: center;
  margin-top: 0em;
}

.task-list-container {
  background: rgb(42, 45, 67);
  margin: 0em;
  height: 34vh;
  overflow-y: scroll;
}

.events-list-header {
  display: flex;
  justify-content: center;
  padding-top: .5em;
  font-weight: 200;
  color: white;
  box-sizing: border-box;
  margin: 0;
  background: rgb(42, 45, 67);
}

.header-container {
  display: flex;
  flex-direction: row;
  padding-top: .5em;
  box-sizing: border-box;
  background: rgb(52, 58, 80);
}

.form-tasks-container {
  margin-top: 0em;
}


.title {
  margin: 0 auto 0 46.2vw;
  line-height: 1.8em;
  opacity: .6;
  color: white;
  padding-top: .1em;
  box-sizing: border-box;
}

.icon {
  font-size: 35px;
  width: 1em;
  height: 1em;
  color: white;
}

::ng-deep .mat-drawer-container{
  background-color: transparent;
  height: 92vh;
}




.main-page-container {
  background: rgba(23, 60, 96, .7);
}

::ng-deep .mat-drawer {
  background: rgba(23, 60, 96, 1);
}

.spinner {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 640px) {

  .container {
    height: 87vh;
  }

  .task-list-container {
    height: 34vh;
  }

  .title {
    margin: 0 auto 0 30.2vw;
  }
}

@media screen and (min-width: 640px) {

  .container {
    height: 96vh;
  }

  .task-list-container {
    height: 56vh;
  }
}
